.aboutMePersonal {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    @media all and (max-width: $break-1){
        display: block;
    }
}
.aboutMePersonal img {
    width: 40%;
    padding: 0 10% 0 10%;
    @media all and (max-width: $break-1){
        width: 60%;
        margin-left: 20%;
    }
}
.aboutMePersonal .aboutMePersonalContent {
    width: 50%;
    @media all and (max-width: $break-1){
        font-size: 1em;
        width: 100%;
    }
}
.aboutMeSkillsHeadline {
    width: 100%;
    text-align: left;
    padding: 2% 0 2% 0;
    font-size: 1.8em;
    @media all and (max-width: $break-1){
        font-size: 1.6em;
    }
}
.aboutMeSkillsContentWrapper {
    display: flex;
    justify-content: space-between;
    @media all and (max-width: $break-1){
        display: block;
    }
}
.aboutMeSkillsContent {
    width: 65%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    @media all and (max-width: $break-1){
        width: 100%;
    }
}
.aboutMeSkillsContentWrapper img {
    width: 20%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    @media all and (max-width: $break-1){
        display: none;
    }
}
.aboutMeSkillsSection {
    margin-bottom: 10%;
}
.mobileDisplayImage {
    display: none;
    width: 26% !important;
    margin-left: 37%;
    @media all and (max-width: $break-1){
        display: block !important;
    }
}
.aboutMeButtonWrapper {
    width: 100%;
    text-align: center;
}