html {
  font-family: "Ubuntu", sans-serif;
}
@media all and (max-width: 768px) {
  html {
    font-size: 0.8em;
  }
}
@media all and (max-width: 1170px) {
  html {
    font-size: 0.9em;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #13182d;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #F1F1F1;
}

a:focus {
  outline: none;
}

.text--pink {
  color: #CC0052;
}

.text--blue {
  color: #2274FF;
}

.text--bold {
  font-weight: bold;
}

p {
  line-height: 1.5em;
  letter-spacing: 1px;
}

.align-right {
  text-align: right !important;
}

.anchor {
  border-bottom-style: solid;
  border-color: #CC0052;
  padding: 3px;
  font-size: 1.2em;
  color: #F1F1F1;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.anchor:hover {
  color: #CC0052;
  border-color: #F1F1F1;
}

.h2--MarginTop {
  margin-top: 0;
}

.wallpaper {
  width: 100%;
  height: 100vh;
  background-color: #0c0f1f;
  color: #F1F1F1;
  display: flex;
}
@media all and (max-width: 768px) {
  .wallpaper {
    display: none;
  }
}
@media all and (max-width: 1170px) {
  .wallpaper {
    display: none;
  }
}

.wallpaperCanvas {
  position: absolute;
  z-index: 1;
  height: 100% !important;
  width: 100% !important;
}
@media all and (max-width: 768px) {
  .wallpaperCanvas {
    display: none;
  }
}
@media all and (max-width: 1170px) {
  .wallpaperCanvas {
    display: none;
  }
}

.wallpaperContent {
  margin: auto;
  text-align: center;
  z-index: 2;
}

.wallpaperContent h1 {
  font-size: 2em;
}

.wallpaperAnchor {
  border-bottom-style: solid;
  border-color: #CC0052;
  padding: 1%;
  font-size: 1.2em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.wallpaperAnchor:hover {
  color: #CC0052;
  cursor: pointer;
  border-color: #F1F1F1;
}

.navigation {
  width: 100%;
  background-color: #0c0f1f;
  padding: 5% 15% 0 15%;
  color: #F1F1F1;
  height: max-content;
  display: flex;
}
@media all and (max-width: 768px) {
  .navigation {
    padding: 5% 10% 0 10%;
    text-align: center;
  }
}

.navLink {
  display: block;
  box-sizing: border-box;
  color: #F1F1F1;
  font-size: 1.1em;
  padding: 1% 3% 1% 3%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media all and (max-width: 768px) {
  .navLink {
    display: none;
  }
}

.navLink:hover {
  border-bottom-style: solid;
  border-color: #F1F1F1;
  border-width: 4px;
  color: #CC0052;
}

.activeNavLink {
  border-bottom-style: solid;
  border-color: #CC0052;
  border-width: 4px;
}

.mobileDisplayNavLink {
  display: none;
}
@media all and (max-width: 768px) {
  .mobileDisplayNavLink {
    display: block !important;
    width: 33.333%;
    text-align: center;
  }
}

.sectionHeader {
  width: 100%;
  padding: 4% 15% 4% 15%;
  background-color: #13182d;
  color: #F1F1F1;
  text-align: center;
}

.sectionContent {
  padding: 4% 15% 4% 15%;
}
@media all and (max-width: 768px) {
  .sectionContent {
    padding: 4% 8% 4% 8%;
  }
}

.sectionContent--dark {
  background-color: #13182d;
  color: #F1F1F1;
  padding-top: 0;
}

.sectionHeader h2 {
  font-size: 2em;
}
@media all and (max-width: 768px) {
  .sectionHeader h2 {
    font-size: 1.8em;
  }
}

.sectionContent--light {
  background-color: #F1F1F1;
  color: Black;
  padding-top: 4%;
}

i {
  color: inherit;
}

.iconLink {
  color: #2274FF;
  padding: 1% 0 1% 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.iconLink:hover {
  color: #CC0052;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(19, 24, 45, 0.9);
  transition: 1s 0.4s;
}

#progress {
  height: 1px;
  background: #CC0052;
  position: absolute;
  width: 0;
  /* will be increased by JS */
  top: 50%;
}

#progstat {
  font-size: 0.7em;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  width: 100%;
  text-align: center;
  color: #2274FF;
}

.aboutMePersonal {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
@media all and (max-width: 768px) {
  .aboutMePersonal {
    display: block;
  }
}

.aboutMePersonal img {
  width: 40%;
  padding: 0 10% 0 10%;
}
@media all and (max-width: 768px) {
  .aboutMePersonal img {
    width: 60%;
    margin-left: 20%;
  }
}

.aboutMePersonal .aboutMePersonalContent {
  width: 50%;
}
@media all and (max-width: 768px) {
  .aboutMePersonal .aboutMePersonalContent {
    font-size: 1em;
    width: 100%;
  }
}

.aboutMeSkillsHeadline {
  width: 100%;
  text-align: left;
  padding: 2% 0 2% 0;
  font-size: 1.8em;
}
@media all and (max-width: 768px) {
  .aboutMeSkillsHeadline {
    font-size: 1.6em;
  }
}

.aboutMeSkillsContentWrapper {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .aboutMeSkillsContentWrapper {
    display: block;
  }
}

.aboutMeSkillsContent {
  width: 65%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
@media all and (max-width: 768px) {
  .aboutMeSkillsContent {
    width: 100%;
  }
}

.aboutMeSkillsContentWrapper img {
  width: 20%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
@media all and (max-width: 768px) {
  .aboutMeSkillsContentWrapper img {
    display: none;
  }
}

.aboutMeSkillsSection {
  margin-bottom: 10%;
}

.mobileDisplayImage {
  display: none;
  width: 26% !important;
  margin-left: 37%;
}
@media all and (max-width: 768px) {
  .mobileDisplayImage {
    display: block !important;
  }
}

.aboutMeButtonWrapper {
  width: 100%;
  text-align: center;
}

.portfolioWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2%;
  flex-wrap: wrap;
}

.portfolioSingle {
  width: 32%;
  margin-bottom: 2%;
  display: block;
  align-self: flex-start;
}
@media all and (max-width: 768px) {
  .portfolioSingle {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
}

.portfolioSingle img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom-style: solid;
  border-width: 4px;
  border-color: #F1F1F1;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.portfolioSingle img:hover {
  border-bottom-color: #CC0052;
}

.contactForm {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  padding: 0 20% 0 20%;
  text-align: right;
  margin-bottom: 6%;
}
@media all and (max-width: 768px) {
  .contactForm {
    padding: 0 0 0 0;
  }
}
@media all and (max-width: 1170px) {
  .contactForm {
    padding: 0 5% 0 5%;
  }
}

.contactForm input {
  width: 100%;
  margin-bottom: 3%;
  padding: 1.5%;
  font-family: "Ubuntu", sans-serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-color: #F1F1F1;
  border-width: 4px;
  background-color: #13182d;
  color: #F1F1F1;
  font-weight: normal;
  font-size: 1.1em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media all and (max-width: 768px) {
  .contactForm input {
    margin-bottom: 6%;
  }
}

.contactForm input:focus {
  border-color: #CC0052;
  outline: none;
}

.contactSubmit {
  width: 20% !important;
  border-color: #CC0052 !important;
}
@media all and (max-width: 768px) {
  .contactSubmit {
    width: 30% !important;
  }
}

.contactSubmit:hover {
  width: 20% !important;
  border-color: #F1F1F1 !important;
  color: #CC0052 !important;
  cursor: pointer;
}

.contactInfo {
  color: #F1F1F1;
  text-align: center;
  padding: 4% 0 4% 0;
  margin-top: 12%;
  width: 100%;
}

.contactIcons {
  width: 100%;
  display: flex;
  gap: 5%;
  justify-content: flex-start;
}

.contactProfile {
  width: 100%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 768px) {
  .contactProfile {
    display: block;
  }
}

.profileImage {
  width: 25%;
  height: auto;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
@media all and (max-width: 768px) {
  .profileImage {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
  }
}

.profileContent {
  width: max-content;
  padding-left: 8%;
  margin-top: auto;
  margin-bottom: auto;
}
@media all and (max-width: 768px) {
  .profileContent {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .profileContentTop {
    display: none;
  }
}

.mobileDisplayProfile {
  display: none;
  font-size: 0.9em;
}
@media all and (max-width: 768px) {
  .mobileDisplayProfile {
    display: block;
  }
}

.caseStudyHeaderWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8%;
}
@media all and (max-width: 768px) {
  .caseStudyHeaderWrapper {
    display: block;
  }
}

.caseStudyHeader {
  width: 30%;
  line-height: 1.5em;
  margin-top: 0;
}
@media all and (max-width: 768px) {
  .caseStudyHeader {
    width: 100%;
  }
}

.caseStudyHeader div {
  width: 100%;
  text-align: left;
  padding: 0 0 0 0;
}

.caseStudyHeader i {
  color: #2274FF;
}

.singleProjectHeaderImageWrapper {
  width: 65%;
  height: auto;
  margin-top: 0;
}
@media all and (max-width: 768px) {
  .singleProjectHeaderImageWrapper {
    width: 100%;
    margin-top: 8%;
  }
}

.singleProjectHeaderImage {
  width: 100%;
  height: auto;
}

.caseStudyTechnology {
  width: 100%;
  padding: 0 0 0 8%;
  display: block;
}

.caseStudyTechnology i {
  min-width: 12%;
  text-align: center;
}

.caseStudyAbout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8%;
}
@media all and (max-width: 768px) {
  .caseStudyAbout {
    display: block;
  }
}

.caseStudyAboutContent {
  width: 50%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
@media all and (max-width: 768px) {
  .caseStudyAboutContent {
    width: 100%;
  }
}

.caseStudyAboutImage {
  width: 35%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
@media all and (max-width: 768px) {
  .caseStudyAboutImage {
    width: 50%;
    margin-left: 25%;
  }
}

.caseStudySeminarProfile {
  width: 25%;
}
@media all and (max-width: 768px) {
  .caseStudySeminarProfile {
    width: 30%;
    margin-left: 35%;
  }
}

.caseStudySeminarProfileContent {
  width: 60%;
}
@media all and (max-width: 768px) {
  .caseStudySeminarProfileContent {
    width: 100%;
  }
}

.lightHeading {
  color: #CC0052;
}

.cvTable {
  width: 100%;
}

.cvTable tr {
  width: 100%;
}
@media all and (max-width: 768px) {
  .cvTable tr {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
}

.mobileTr {
  display: table-row;
}
@media all and (max-width: 768px) {
  .mobileTr {
    display: none !important;
  }
}

.mobileTrHr {
  display: none;
}
@media all and (max-width: 768px) {
  .mobileTrHr {
    display: block;
  }
}

.cvTable td {
  padding: 0.5%;
}

.cvTable .question {
  width: 20%;
}
@media all and (max-width: 768px) {
  .cvTable .question {
    width: 100%;
    font-weight: bold !important;
  }
}

.cvTable .answer {
  width: 80%;
}
@media all and (max-width: 768px) {
  .cvTable .answer {
    width: 100%;
    font-weight: normal !important;
  }
}

/*# sourceMappingURL=style.css.map */
